<!-- Here is the index page for Onthemarket objects
When a user wishes to put stocks on the market for people to buy from them, they
create the object and are brought here -->
<div class = "container">
  <div class = "row">
    <div class = "col-md-4">
      <%= render '/shared/portfolioCondition' %>
    </div>
    <div class = "col-md-8">
      <ul class = "list-unstyled">
        <!-- For each of the onthemarket objects currently available, a list item
        is created. -->
        <h2 class = "text-center" style = "text-decoration: underline;">Public Market & Active Listings</h2><br/>
        <% if @onthemarkets.any? %>
          <% @onthemarkets.each do |otm| %>
            <li>
              <%= render '/shared/shieldStock', :otm1 => otm %>
            </li>
          <% end %>
        <% else %>
          <li>
            <h4 class = "text-center">No active listings are posted at this time!</h4>
            <p class = "text-center">Come back soon, or <%= link_to 'create your own listing!', user_path(id: current_user.id) %></p>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>