<!-- Here is the index page for Onthemarket objects
When a user wishes to put stocks on the market for people to buy from them, they
create the object and are brought here -->
<div class = "container">
  <div class = "row">
    <div class = "col-md-4">
      <%= render '/shared/portfolioCondition' %>
    </div>
    <div class = "col-md-8">
      <ul class = "list-unstyled">
        <!-- For each of the onthemarket objects currently available, a list item
        is created. -->
        <% @onthemarkets.each do |otm| %>
          <li>
            <%= render '/shared/shieldStock', :otm1 => otm %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>