<!-- The form for a new onthemarket object/ what a user creates inorder to perform a transaction -->

<div class = "container">
  <div class="row">
    <!-- Page will render the current user's portfolio condition on the left -->
    <div class = "col-md-3">
      <%= render 'shared/portfolioCondition' %>
    </div>
    <div class="col-md-6">
      <h1 class="text-center">Create a marketplace transaction</h1>
      <p class="text-center">Fillout the form with your ideal transaction</p>
      <div class="well">
        <% if params[:buying] == 'true' %>
          <%= render 'form' %> 
        <% else %>
          <%= render 'formForSelling' %>
        <% end %>
      </div>
    </div>
  </div>
</div>