<h2 class = "text-center portfolio-page-name-callout"><%= @user.portfolio.first_name %>'s Portfolio</h1>
<h4>Net Worth:<span class= "portfolio-page-details"><%= sprintf( "%0.02f",@user.portfolio.net_worth) %></span></h4>
<h4>Balance:<span class = "portfolio-page-details"><%= sprintf( "%0.02f",@user.portfolio.balance) %></span></h4>
<h4>Total Stocks:<span class = "portfolio-page-details"><%= @user.portfolio.stocks.length %></span></h4>
<h4>Highest Valued Stock</h4>
<div class = "well on-the-rise">
  <h4>On the rise will be here</h4>
</div>