<h2 class = "text-center portfolio-page-name-callout"> <%= current_user.portfolio.first_name %>'s Portfolio</h2>
<h5>Net Worth:<span class= "portfolio-page-details">
  <%= sprintf( "%0.02f",current_user.portfolio.net_worth) %>
  </span>
  </h5>
<h5>Balance:<span class = "portfolio-page-details"><%= sprintf( "%0.02f",current_user.portfolio.balance) %></span></h5>
<h5>Total Stocks:<span class = "portfolio-page-details"><%= current_user.portfolio.stocks.length %></span></h5>
<h5>Highest Valued Stock</h5>
<div class = "well on-the-rise">
  <h4>On the rise will be here</h4>
</div>